:root {
    --primary_red:#E9165F;
    --primary_yellow:#E9DA16;
    --primary_blue:#165FE9;
    
}


.black {
    color: black;
}

body {
    background-color: #f7f8fc;
}

* {
    /* font-family: 'Noto Sans JP' !important; */
    font-family: 'Heebo', sans-serif !important;
}

.font-hacked {
    font-family: 'hackedregular' !important;
}

.font-krishna {
    font-family: 'krisharegular' !important;
}

.font-swiss {
    font-family: 'swis721_blkcn_btblack' !important;
}

.font-consolas {
    font-family: 'consolasregular' !important;
}