.footer {
    margin-top: 5%;
    width: 100%;

    
    border-radius: 6px;
    box-shadow: 1px 1px 1px 1px black;
    
}

.footer>.avatar {
    display: flex;
    justify-content: flex-start;
    margin-right: 20%;
}

@media (min-width: 640) {
    .avatar {
        margin-right: 0px;
    }
}

.patreon-icon {
    max-width: 26px;
}

.paypal-icon {
    max-width: 26px;
}

.footer-text {
    align-self: center;
    
}


/**
*background-color: var(--primary_yellow) !important;
*/